@media (max-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
@media (max-width: 768px) {
  
}

  .btn-curved{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 44px;
    width: 125px;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #1BD5BE, #2DB9EF 90%) repeat scroll 0% 0%;
    border: none;
    color: #fff;
  }
  .toggler{
      color: black !important;
      border: none !important;
  }