
.box-image{
   
}
.achievementStyleOne {
    padding: 10px;
    border-radius: 0;
    background: white;
    box-shadow: 0px 0px 10px 0px lightgray;
    color: #6B6B6B;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}
.achievementStyleTwo{
    padding: 10px;
    border-radius: 0;
    background: white;
    box-shadow: 0px 0px 10px 0px lightgray;
    color: #6B6B6B;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
.achievementStyleOne:hover,.achievementStyleTwo:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #2DB9EF, #1BD5BE 90%) repeat scroll 0% 0%;
    color: white;
    cursor: pointer;
}